.AdabiyotHeader{
    width: 100%;
    margin-top: 50px;
    ul {
        display: flex;
        gap: 35px;
        padding: 0;
        margin-bottom: 100px;
        li{
            .nav-link {
                color: #fff;
                font-size: 18px;
                font-weight: 400;
                padding: 0;
                cursor: pointer;
              }
        }
        a:hover {
            color: #05cbd6;
          }
      }
      #nav .active{
        color: #05cbd6;
      }
      .urlBack{
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
        .url{
          color: #FFF;
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Manrope;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.42px;
          cursor: pointer;
        }
        .back{
          color: #FFF;
          text-align: center;
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Manrope;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          cursor: pointer;
          display: flex;
          align-items: center;
        } 
      }
}